@model ArticleViewerWebApplication.Models.Article

@{
    ViewBag.Title = "Details";
}
<div class="w3-container w3-white" style="margin: 25px;">
    <h2>Details</h2>

    <div>
        <h4>Article</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.userId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.body)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.articleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>