@model ArticleViewerWebApplication.Models.Article

@{
    ViewBag.Title = "Edit";
}
<div class="w3-card w3-white" style="margin: 25px;">
    <div style="padding:25px;">
        <h2 class="articleTitle">Edit Article</h2>

        @using (Html.BeginForm("ConfigureParagraphs", "MyArticles", FormMethod.Post))
        {
            @Html.AntiForgeryToken();

            <label>Number of paragraphs: </label>
            <input name="Page" value="Edit" hidden />
            <input name="articleId" value='@Model.articleId' hidden/>
            <input type="number" name="numOfParagraphs" value='@ViewBag.numOfParagraphs' min="1" max="25" />
            <input type="submit" class="w3-button w3-border" value="Change" />
        }

        @{
            int numberOfParagraphs;
            if (ViewBag.numOfParagraphs != null)
            {
                numberOfParagraphs = ViewBag.numOfParagraphs;
            }
            else
            {
                numberOfParagraphs = 3;
            }
        }


        @using (Html.BeginForm("Edit", "MyArticles", FormMethod.Post))
        {
            @Html.AntiForgeryToken();

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input name="articleId" value='@Model.articleId' hidden />

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label>Title Your Article: </label>
                    </div>
                    <div class="col-md-10">
                        <input name="title" value="@Model.title" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        <label>Preview for Home Page:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea name="articlePreview" type="text" style="min-width: 25%; max-width: 100%; width: 100%; height: 100px; min-height: 50px; max-height: 500px;" required>@Model.articlePreview</textarea>
                    </div>
                </div>

                <hr />


                @for (int i = 0; i < numberOfParagraphs; i++)
                {
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <label>Paragraph #@(i+1):</label>
                        </div>
                        <div class="col-md-10">
                            <textarea name="[@i]" type="text" style="min-width: 25%; max-width: 100%; width: 100%; height: 100px; min-height: 50px; max-height: 500px;" required>
                                @if (i < Model.content.paragraphs.Count && Model.content.paragraphs.ElementAt(i) != null)
                                {
                                    @Model.content.paragraphs.ElementAt(i)
                                }
                            </textarea>
                        </div>
                    </div>
                }

                <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Changes" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
