@model IEnumerable<ArticleViewerWebApplication.Models.Article>

@{
    ViewBag.Title = "Index";
}
<div class="w3-container w3-white" style="margin: 25px;">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.body)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.articleId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.articleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.articleId })
                </td>
            </tr>
        }

    </table>
</div>