@model IEnumerable<ArticleViewerWebApplication.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/CSS/Site.css">

<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<body>

    <header class="w3-container w3-center">
        <h1 class="header"><b>Welcome to Article Viewer</b></h1>
    </header>

    @foreach (var item in Model)
    {
        <div class="w3-col 18 s12">
            <div class="w3-card-4 w3-white margSmall">
                <div class="padBig">
                    <div class="w3-row margSmall">
                        <div class="w3-right">
                            @if (item.image != null)
                            {
                                var base64 = Convert.ToBase64String(item.image.imageData);
                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                                <img src="@imgSrc" class="img-fluid w3-border" style="padding: 5px; margin-left: 25px;" />
                            }
                        </div>

                        <h2 class="articleTitle">
                            <b>@item.title</b>
                        </h2>
                        <h5 class="articleSubfield">Posted By: @item.author</h5>
                        <h5 class="articleSubfield">Date Posted: @item.date</h5>
                        <p class="articleText">@item.articlePreview</p>


                    </div>

                    <hr />

                    <div class="padSmall">
                        <div class="w3-row">
                            <div class="w3-col col-md-12 w3-hide-small">
                                <p>
                                    <button class="w3-button w3-border" onclick="location.href = '@Url.Action("ViewArticle", "Articles", new { articleId = item.articleId })'; return false;">VIEW FULL ARTICLE >></button>
                                    <span class="w3-right">
                                        <label style="padding-right: 10px;">Comments</label>
                                        <span class="w3-badge">@item.comments.Count</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</body>




